.GoalListItem {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3vmin;
  padding: 2vmin;
  color: var(--text-light);
  background-color: var(--light-blue);
  border: .1vmin solid var(--tan-3);
  font-size: 3vmin;
}

.GoalListItem .complete-box {
  height: 23px;
  width: 23px;
  font-size: 4vw;
  background-color: var(--tan-1);
  border: .1vmin solid var(--tan-3);
}

.edit-button {
  background-color: royalblue;

}
.delete-button {
  background-color: firebrick;
}


